<%- include ./partials/header %>
<section>
    <h1><a href="/"><%=CONFIG.name-%></a></h1>
</section>
<style>
    #wrapper {
        position: absolute;
        text-align: center;
        margin: auto;
        width: 100%;
        height: 280px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
