<!DOCTYPE html>
<html>
  <head>
    <title>我的圖書 - {{title}}</title>
    <link rel='stylesheet' href='/css/view.css' />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{{block "stylesheets"}}}
    {{{block "scripts"}}}
  </head>
  <body>
    <header>
      <h1>我的圖書</h1>
    </header>
    {{{body}}}
    <footer>
      <script src="/js/do.js"></script>
    </footer>
  </body>
</html>
