<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/view.css' />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{{block "stylesheets"}}}
    {{{block "scripts"}}}
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/js/do.js"></script>
</html>
