<!DOCTYPE HTML>
<html lang="zh_cn" class="borderbox">
    <head>
        <title>{$title} - {$desc}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="./css/typo.css" rel="stylesheet" />
        <link href="./css/dlg.css" rel="stylesheet" />
        <link href="./css/view.css" rel="stylesheet" />
        <script src="./js/cookies.js" type="text/javascript"></script>
        <script src="./js/dlg.js" type="text/javascript"></script>
        <script src="./js/do.js" type="text/javascript"></script>
    </head>
    <body>
        {if $request != ""}
        <form action="#" method="{$request}">
        {/if}